 body {
   background-color: #174A77;
 }
 
.scoreCount {
   display: flex;
   justify-content: center;
   gap: 10px;
   border: solid;
   height: 50vh;
   
}

 #container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border: solid;
    gap: 40px;
 }

 button {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 10px;
    border: solid;
 }